* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'arial';
}

h1, a {
    font-family: "Ysabeau Infant", "Arial";
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
}

.logo {
    width: 160px;
    height: 160px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    border-radius: 150px;
    position: relative;
}

.logo::after {
    content: "";
    width: 150px;
    height: 150px;
    background: url("assets/neymar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 150px;
    position: absolute;
    top: 5px;
    left: 5px;
}

h1 {
    font-size: 50px;
    line-height: 50px;
    position: relative;
    text-shadow: 3px 3px 3px #bbbbbb;
    margin-bottom: 30px;
}

h1::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url("assets/verificado.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    right: -25px;
}

h1 span {
    position: relative;
}

h1 span::after {
    content: "";
    width: 95%;
    height: 5px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    position: absolute;
    left: 2.5%;
    bottom: 0px;
    border-radius: 5px;
}

section .links {
    min-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    min-height: 40px;
    width: 100%;
    text-decoration: none;
    position: relative;
    color: #ffffff;
}

a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000;
    border-radius: 100px;
    opacity: 0.6;
    z-index: -1;
}

a::after {
    content: "";
    width: 21px;
    height: 21px;
    left: 18px;
}

.link-youtube::after {
    background: url("assets/youtube.png");
    background-size: contain;
    position: absolute;
}
.link-instagram::after {
    background: url("assets/instagram.png");
    background-size: contain;
    position: absolute;
}
.link-x::after {
    background: url("assets/twitter.png");
    background-size: contain;
    position: absolute;
}
.link-facebook::after {
    background: url("assets/facebook.png");
    background-size: contain;
    position: absolute;
}
.link-twitch::after {
    background: url("assets/twitch.png");
    background-size: contain;
    position: absolute;
}